<div>
    <h1>Carga de productos</h1>
    <form id="loadForm" action="/api/v1/products/" method="post">
        <label for="title">Titulo: </label>
        <input type="text" id="title" name="title" />
        <label for="description">Descripcion: </label>
        <input type="text" id="description" name="description" />
        <label for="price">Precio: </label>
        <input type="number" id="price" name="price" />
        <label for="thumbnails">Thumbnail: </label>
        <input type="text" id="thumbnails" name="thumbnails" />
        <label for="code">Codigo: </label>
        <input type="text" id="code" name="code" />
        <label for="stock">Stock: </label>
        <input type="number" id="stock" name="stock" />
        <label for="category">Category: </label>
        <input type="text" id="category" name="category" />
        <label for="status">Status: </label>
        <input type="boolean" id="status" name="status" />
        <button id="loadFormSubmitButton" type="submit">Crear</button>
    </form>
</div>
<br />
<hr>
<br />
<div>
    <h1>Lista de productos</h1>
    <table>
        <tr>
            {{#each tableHeader}}
                <th>{{this}}</th>
            {{/each}}
        </tr>
        {{#if hasRows}}
            {{#each tableRows}}
                <tr>
                    <td>{{this.pid}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.thumbnail}}</td>
                    <td>{{this.stock}}</td>
                    <td>{{this.status}}</td>
                </tr>
            {{/each}}
        {{else}}
            <tr>
                <td>No products loaded</td>
            </tr>
        {{/if}}
    </table>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="static/js/realTimeProducts.js"></script>